<p id="notice"><%= notice %></p>
<%=form_for :index do |f|%>
  <%= f.hidden_field :bank_id, value: @bank.id %>
<%end%>
<table border="1">
  <thead>
    <tr>
      <th>Bank</th>
      <th>Atm</th>
      <th colspan="3">Transaction type</th>
    </tr>
  </thead>

  <tbody>
    <% @atms.each do |atm| %>
      <tr>
        <td><%= atm.bank.name %></td>
        <td><%= atm.location %></td>
        <td><%= link_to "Withdraw", withdraw_transactions_path(bank_id: @bank.id, atm_id: atm.id) %></td>
        <td><%= link_to "Transfer", transfer_transfers_path(bank_id: @bank.id, atm_id: atm.id) %></td>
        <td><%= link_to "Deposit", deposit_transactions_path(bank_id: @bank.id, atm_id: atm.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>