<table border="1">
	<tr>
		<td><%= button_tag "Withdraw"%></td>
    <th rowspan="5">
    	Display
    </th>
    <td><%= button_tag "Withdraw"%></td>
  </tr>
  <tr>
    <td><%= button_tag "Withdraw"%></td>
    <td><%= button_tag "Withdraw"%></td>
  </tr>
  <tr>
    <td><%= button_tag "Withdraw"%></td>
    <td><%= button_tag "Withdraw"%></td>
  </tr>
  <tr>
    <td><%= button_tag "Withdraw"%></td>
    <td><%= button_tag "Withdraw"%></td>
  </tr>
  <tr>
		<td><%= button_tag "Withdraw"%></td>
    <td><%= button_tag "Withdraw"%></td>
  </tr>
</table>