<p id="notice"><%= notice %></p>
<h1><%= @bank.name%></h1>
<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Atm no</th>
      <th>Bank</th>
      <th>Balance</th>
      <th colspan="3">Links</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.mobile %></td>
        <td><%= customer.atm_no %></td>
        <td><%= customer.bank_id %></td>
        <td><%= customer.balance %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>
<%= link_to "new", new_customer_path(bank_id: @bank.id) %>