<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @customer.mobile %>
</p>

<p>
  <strong>Atm no:</strong>
  <%= @customer.atm_no %>
</p>

<p>
  <strong>Atm pin:</strong>
  <%= @customer.atm_pin %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @customer.bank.name %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @customer.balance %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %>
<%= link_to 'Back', customers_path %>