<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :transaction_type %><br>
    <%= f.select :transaction_type, [['Withdraw'],['Deposit'],['Transfer']] %>
  </div>
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :bank_id %><br>
    <%= f.text_field :bank_id %>
  </div>
  <div class="field">
    <%= f.label :atm_id %><br>
    <%= f.text_field :atm_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>