<h1>Transfer Transaction Only </h1>
<%= form_for :transaction, url: transfer_create_transactions_path do |f|%>

  Atm Number : <%= f.text_field :atm_no %><br><br>
  Atm PIN : <%= f.password_field :atm_pin %><br><br>
  Receiver Atm Number : <%= f.text_field :receiver %><br><br>
  Enter Amonunt : <%= f.text_field :balance %><br><br>
  <%= f.submit "Submit"%>
<% end -%>
